.part-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute cards evenly */
    margin: 20px 0; /* Add margin to the top and bottom, remove margin on the sides */
  }
  
  .part-card {
    flex: 0 0 calc(30% - 10px); /* Each card takes up 30% of the container width with margin */
    margin-bottom: 20px; /* Margin between cards */
    background-color: #fff;
    border-radius: 8px; /* Make the border radius smaller for a more square shape */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Padding inside the card */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .part-card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  .small-red-button {
    background-color: #f44336; /* Red background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 8px 16px; /* Smaller padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline-block */
    font-size: 14px; /* Smaller font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 4px; /* Slightly rounded corners */
    transition-duration: 0.4s; /* 0.4 second transition effect to hover state */
  }
  
  .small-red-button:hover {
    background-color: white; /* White background on hover */
    color: #f44336; /* Red text on hover */
    border: 2px solid #f44336; /* Red border on hover */
  }
  .button-container {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  margin-right: 20px; /* Optional margin to adjust the position */
  margin-top: 20px; /* Optional margin to adjust the position */
}