<div class="container">
  <table>
    <thead>
      <tr>
        <th>Product Title</th>
        <th>Rate</th>
        <th>Inventory Quantity</th>
        <th>Pending Inventory Quantity</th>
        <th>Quantity</th>
        <th>Amount</th> 
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>
          <select [ngModel]="product.partId" (ngModelChange)="onProductSelect(product, $event)">
            <option *ngFor="let selectedProduct of transferredObject" [value]="selectedProduct.partId">
              {{ selectedProduct.partTitle }}
            
            </option>
          </select>
        </td>
        <td>{{ product.partPrice }}</td>
        
        <td>{{ product.qty }}</td>
        <td>{{getRemainingInventryData(product.partId) }}</td>
        <td>
          <input type="number"  [(ngModel)]="inputQuantity" (ngModelChange)="quanityChangeNew($event,product)" />
        </td>
        <td>
        {{product.qty * product.partPrice}}
        </td>
      
      </tr>
    </tbody>
  </table>
  <button (click)="addRow()">Add Row</button>
</div>