.card-content p {
    margin: 12px 0;
    font-size: 16px;
    color: #333;
  }
  
  .card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .update-button, .delete-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .update-button-details {
    background-color:lightskyblue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .delete-button {
    background-color: #f44336;
  }
  .inventory-button{
    background-color: gray;
  }
  .inventory-button:hover {
    background-color: grey;
  }
  
  .update-button:hover {
    background-color: #45a049;
  }
  
  .delete-button:hover {
    background-color: #e53935;
  }
  
  .update-button:active, .delete-button:active {
    transform: scale(0.95);
  }
  
  .update-button:focus, .delete-button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(72, 180, 97, 0.6);
  }
  
  .delete-button:focus {
    box-shadow: 0 0 5px 2px rgba(244, 67, 54, 0.6);
  }