<div class="card-content">
  <p><strong>Part ID:</strong> {{ part.partId }}</p>
  <p><strong>Part Name:</strong> {{ part.partTitle }}</p>
 
  <p><strong>Part Price:</strong> {{ part.partPrice }}</p>
  <p><strong>Qty:</strong> {{ part.qty }}</p>
</div>
<div class="card-actions">
  <button class="update-button" (click)="edit(part)">Update</button>
  <button class="update-button-details" (click)="partDetail(part.partTitle)" >Details</button>
  <button class="inventory-button" (click)="addInventory(part)" >Inventory</button>
  <button class="delete-button" (click)="deletePart(part.partId)">Delete</button>
 
</div>
