<div class="card-content">
  <p><strong>Part ID:</strong> {{ part.partId }}</p>
  <p><strong>Part Name:</strong> {{ part.partTitle }}</p>
 
  <p><strong>Part Price:</strong> {{ part.partPrice }}</p>
  <p><strong>Qty:</strong> {{ part.qty }}</p>
</div>
<div class="card-actions">
  <button class="update-button" (click)="edit(part)">
    <mat-icon>edit</mat-icon> Update
  </button>
  <button class="update-button-details" (click)="partDetail(part)">
    <mat-icon>info</mat-icon> Details
  </button>
  <button class="inventory-button" (click)="addInventory(part)">
    <mat-icon>store</mat-icon> Inventory
  </button>
  <button class="delete-button" (click)="deletePart(part.partId)">
    <mat-icon>delete</mat-icon> Delete
  </button>
</div>
